@charset "utf-8";

*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif,"宋体";}

.alpha {
	opacity: .4;		
}

/* colockbox */
.colockbox{width:60px;height:50px;margin:48px, 0px;overflow:hidden;}
.colockbox span{float:left;display:block;width:58px;height:48px;line-height:48px;font-size:26px;text-align:center;color:#ffffff;margin:0 17px 0 0;}
.colockbox span.second{margin:0;}

/* prize display box */
.box{width:1000px;height:200px;margin:0px 165px;overflow:hidden;}
.box_SWALLOW{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_SWALLOW_WIN.png) no-repeat;}
.box_PIGEON{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_PIGEON_WIN.png) no-repeat;}
.box_PEAFOWL{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_PEACOCK_WIN.png) no-repeat;}
.box_EAGLE{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_EAGLE_WIN.png) no-repeat;}
.box_LION{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_LION_WIN.png) no-repeat;}
.box_PANDA{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_PANDA_WIN.png) no-repeat;}
.box_MONKEY{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_MONKEY_WIN.png) no-repeat;}
.box_RABBIT{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_RABBIT_WIN.png) no-repeat;}
.box_GOLD_SHARK{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_GOLD_SHARK_WIN.png) no-repeat;}
.box_BOMB{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_BOMB_WIN.png) no-repeat;}
.box_SILVER_SHARK{width:1000px;height:200px;margin:0px 165px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_WIN_SLIVER_SHARK_WIN.png) no-repeat;}
#demo5{width:200px;background-position:0px 0;}
#demo4{width:200px;background-position:-200px 0;}
#demo3{width:200px;background-position:-400px 0;}
#demo2{width:200px;background-position:-600px 0;}
#demo1{width:200px;background-position:-800px 0;}

.box_time{width:160px;height:24px;margin:88px 260px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_TIME_NUMBER_MAIN.png) no-repeat;}
#time0{width:16px;background-position:0px 0;}
#time1{width:16px;background-position:-16px 0;}
#time2{width:16px;background-position:-32px 0;}
#time3{width:16px;background-position:-48px 0;}
#time4{width:16px;background-position:-64px 0;}
#time5{width:16px;background-position:-80px 0;}
#time6{width:16px;background-position:-96px 0;}
#time7{width:16px;background-position:-112px 0;}
#time8{width:16px;background-position:-128px 0;}
#time9{width:16px;background-position:-144px 0;}

.observe{width:500px;height:50px;margin:0px 18px;overflow:hidden;}
.box_observe{width:500px;height:50px;margin:0px 0px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_HISTORY_ANIMAL_MAIN.png) no-repeat;}
#observe_LION{width:50px;background-position:0px 0;margin:0px 0px;float: left;}
#observe_PANDA{width:50px;background-position:-50px 0;margin:0px 0px;float: left;}
#observe_MONKEY{width:50px;background-position:-100px 0;margin:0px 0px;float: left;}
#observe_RABBIT{width:50px;background-position:-150px 0;margin:0px 0px;float: left;}
#observe_EAGLE{width:50px;background-position:-200px 0;margin:0px 0px;float: left;}
#observe_PEAFOWL{width:50px;background-position:-250px 0;margin:0px 0px;float: left;}
#observe_PIGEON{width:50px;background-position:-300px 0;margin:0px 0px;float: left;}
#observe_SWALLOW{width:50px;background-position:-350px 0;margin:0px 0px;float: left;}
#observe_SILVER_SHARK{width:50px;background-position:-400px 0;margin:0px 0px;float: left;}
#observe_GOLD_SHARK{width:50px;background-position:-450px 0;margin:0px 0px;float: left;}
/*gdial.jsp*/
.gdial {
	height: 434px;
	width: 693px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #999;
	overflow: hidden;
	background-image: url(../imgsystem/gdial.jpg);
	background-repeat: no-repeat;
}
.gdial img {
	border: 0px dotted #F00;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	position: absolute;
}
.gdial .gdial-top {position: absolute;height: 62px;width: 693px;border: 0px solid #FF0;margin: 0px;overflow: hidden;}
.gdial .gdial-left {width: 77px;height: 310px;border: 0px solid #000;margin: 62px 0px 0px 0px;position: absolute;}
.gdial .gdial-display {/* 中间展示区 */
	height: 308px;
	width: 537px;
	overflow: hidden;
	position: absolute;
	margin: 62px 0px 0px 77px;
	border: 1px solid #666;
	background-image: url(../imgsystem/fish.jpg);
}
.gdial .gdial-right {width: 77px;height: 310px;border: 0px solid #000;margin: 62px 0px 0px 616px;position: absolute;}
.gdial .gdial-bottom {position: absolute;height: 62px;width: 693px;border: 0px solid #000;margin: 372px 0px 0px 0px;}
.gdial-animals{	width:375px;height:60px;margin:0px 0px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_MAIN_ANIMALS_BACK_MAIN.png) no-repeat;
}
#gdial_LION{width:75px;background-position:-300px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_PANDA{width:75px;background-position:-300px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_MONKEY{width:75px;background-position:-300px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_RABBIT{width:75px;background-position:-300px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_EAGLE{width:75px;background-position:-300px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_PEAFOWL{width:75px;background-position:-300px 0px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_PIGEON{width:75px;background-position:-300px 0px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_SWALLOW{width:75px;background-position:-300px 0px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_SILVER_SHARK{width:75px;background-position:-300px 0px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_GOLD_SHARK{width:75px;background-position:-300px 0px;margin:0px 0px;float: left;border: 1px solid #CCC;}
/* 
*/
.gdial-animals img{	width:375px;height:120px;margin:0px 0px;overflow:hidden;background:url(../imgsystem/NewSharkBattle_MAIN_ANIMALS_MAIN.png) no-repeat;
}
#gdial_LION img{width:75px;height: 60px;background-position:0px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_PANDA img{width:75px;height: 60px;background-position:-75px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_MONKEY img{width:75px;height: 60px;background-position:-150px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_RABBIT img{width:75px;height: 60px;background-position:-225px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_EAGLE img{width:75px;height: 60px;background-position:-300px 0;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_PEAFOWL img{width:75px;height: 60px;background-position:0px -60px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_PIGEON img{width:75px;height: 60px;background-position:-75px -60px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_SWALLOW img{width:75px;height: 60px;background-position:-150px -60px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_SILVER_SHARK img{width:75px;height: 60px;background-position:-225px -60px;margin:0px 0px;float: left;border: 1px solid #CCC;}
#gdial_GOLD_SHARK img{width:75px;height: 60px;background-position:-300px -60px;margin:0px 0px;float: left;border: 1px solid #CCC;}